@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Creepster&family=Marck+Script&family=Outfit:wght@300&family=Rubik+Distressed&family=Rubik+Microbe&family=Satisfy&family=Tilt+Prism&display=swap');
body{
    font-family: 'Tilt Prism', cursive;
    background: linear-gradient(123deg, wheat , thistle);
    height: 100vh;

}
.titulo {
    width: 219px;
    color: darkgray;
    border: solid;
    margin: 5px 0px 16px;
    border-radius: 28px 0px 50px 16px;
    background: linear-gradient(1deg, thistle, pink);
    padding: 5px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
}

#parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Distressed', cursive;
    font-family: 'Satisfy', cursive;
}
#escoge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: lightslategrey;
    background-color: unset;
    border-radius: 66px;
}

.maniobra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
}
#destreza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#barras{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
#juego{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mensajes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
#reiniciar{
    justify-content: center;
}
.tarjetasSerDemonio{
    width: 132px;
    height: 100px;
    background: darkred;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid red;
    border-radius: 16px;
    font-family: 'Creepster', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjetasSerDemonio img {
    width: 70px;
    height: 60px;
}
.tarjetasSerAngel{
    width: 132px;
    height: 100px;
    background: wheat;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid aquamarine;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Marck Script', cursive;
}
.tarjetasSerAngel img {
    width: 70px;
    height: 60px;
}
.tarjetasSerHumano{
    width: 132px;
    height: 100px;
    background: thistle;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid coral;
    border-radius: 16px;
    font-family: 'Aleo', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjetasSerHumano img {
    width: 70px;
    height: 60px;
}
input {
    display: none;
}
input:checked + label {
    width: 138px;
    height: 110px;
}
#serElegido{
    border: 2px solid;
    margin: 5px;
    width: 100px;
    height: 30px;
    background: linear-gradient(45deg, pink, white,transparent);
    border-radius: 20px;
    border-color: aliceblue;
    font-family: 'Outfit', sans-serif;
}
.tarjetasPeleaA{
    margin: 5px;
    border-radius: 16px;
    background: grey;
}
.tarjetasPeleaB{
    margin: 5px;
    border-radius: 16px;
    background: cornflowerblue
}
.tarjetasPeleaC{
    margin: 5px;
    border-radius: 16px;
    background: lavender
}
.mensajeBatalla{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
#resultadoA{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin: 10px 36px 10px 10px;
}
#botonR{
    border-radius: 16px;
    border: ridge;
    background: wheat;
    border-color: lightblue;
}
#pili{
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
}
@media (max-width: 360px){
    #maniobra{
        flex-direction: column;
    }
}