
body {
    background-color: wheat;
}
#titulo{
    color: goldenrod;
    width: 224px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#parrafo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#escoge{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
