.titulo {
    width: 219px;
    color: goldenrod;
    border: solid;
    margin: 10px;
    border-radius: 28px 0px 50px 16px;
    background: black;
    padding: 5px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#escoge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: groove;
    border-color: yellowgreen;
    background: linear-gradient(123deg, black, transparent);
    background-color: bisque;
}
#lonchera{
    background: linear-gradient(123deg, black, transparent);
    height: 100vh;
}
#maniobra {
    display: flex;
    width: 416px;
    justify-content: flex-start;

}
#destreza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}